@use "./variables.scss" as *;
@use "../../node_modules/bootstrap/scss/bootstrap.scss" as bootstrap with (
  $primary: $ateneo-blue,
  $secondary: $ateneo-slate,
  $warning: $ateneo-gold,
  $info: $ateneo-blue-bright,
  $body-bg: $ateneo-ice,
  $body-color: $ateneo-blue-dark
);
@use "./bootstrap-overrides.scss" as bootstrapOverrides;
@use "./Login.scss" as Login;
@use "./Sidebar.scss" as Sidebar;
@use "./TopNavigation.scss" as TopNavigation;
@use "./Loader.scss" as Loader; 

label {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.app-container {
  overflow-x: hidden;
}

.app-content {
  margin-right: 0;
  flex: 1;
}

.app-content.open {
  margin-right: 250px;
  transform: translateX(250px);
  width: calc(100% - 250px); /* Adjust to match your sidebar width */
}
